nav#menu {
  margin:5% 0 0 34%;
  width: 365px;
  height: 30px;    
  border-bottom: 3px #F53D54 solid;
}

ul {
  list-style: none;
  padding: 0 10px 0 10px;
}

ul li {
 font: 16px Inder, 'Arial', 'sans-serif';
 color: #000;
 display:inline-block;  
}

ul li a {
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
}

ul li a:hover {
  background-color: #F53D54;
  color: #FFF;
  -webkit-animation: showMenu 0.8s;
     -moz-animation: showMenu 0.8s;
          animation: showMenu 0.8s;
}


/* KEFRAMES*/
@-webkit-keyframes showMenu {
  0% { opacity :0; }
  100% { opacity:1; }
}
@-moz-keyframes showMenu {
  0% { opacity :0; }
  100% { opacity:1; }
}
@keyframes showMenu {
  0% { opacity :0; }
  100% { opacity:1; }
}